/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.autoscroll:hover {
  overflow: auto;
  /* margin-right: -10px; */
}
.height-adjust-25 {
  height: calc(100% - 25px);
}
.header-fixed {
  width: calc(100vw - 300px);
  position: fixed;
}
.table-wrapper {
  overflow: auto;
  padding-top: 41px;
  min-height: 100%;
  height: calc(100vh - 25px);
  width: calc(100vw - 300px);
}
.titlebar-drag-region {
  /*added*/
  display: block;
  z-index: -1;
  -webkit-app-region: drag;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
